<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8"/>
    <title>IITS Movie Database</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css} "/>
</head>
<form action="#" th:action="@{/add-movie}" th:object="${movieDto}" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="Title">
        <small class="text-muted alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" class="form-control" th:field="*{year}" id="year">
        <small class="text-muted alert-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></small>
    </div>
    <div class="form-group">
        <label for="directorFirstName">Director First Name</label>
        <input type="text" class="form-control" th:field="*{directorFirstName}" id="directorFirstName" placeholder="Jon">
        <small class="text-muted alert-danger" th:if="${#fields.hasErrors('directorFirstName')}" th:errors="*{directorFirstName}"></small>
    </div>
    <div class="form-group">
        <label for="directorLastName">Director Last Name</label>
        <input type="text" class="form-control" th:field="*{directorLastName}" id="directorLastName" placeholder="Woo">
        <small class="text-muted alert-danger" th:if="${#fields.hasErrors('directorLastName')}" th:errors="*{directorLastName}"></small>
    </div>
    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>
